# ignore the pycache everywhere
**/__pycache__

# Ignore the dataset
/train/dataset
/train/dataset-cache

# Ignore the TensorBoard logs
/train/logs

# Ignore the trained models
/train/models

# Ignore the checkpoints
/train/checkpoints