# ignore the pycache everywhere
**/__pycache__

# Ignore the dataset
/dataset
/dataset-cache

# Ignore the TensorBoard logs
/logs

# Ignore the trained models
/models

# Ignore the checkpoints
/checkpoints